# Enable rewrite engine
Options +FollowSymlinks
RewriteEngine on

# HTTP to HTTPS redirection
# Uncomment the 2 lines below to enable
#https#RewriteCond %{HTTPS} off
#https#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# Redirects everything to the entry point
RewriteCond %{REQUEST_FILENAME}  -f [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ entry.php [L,QSA]

# www sub-domain redirection
# Uncomment the 2 lines below to enable
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
