<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="mx-auto order-0">
			<a class="navbar-brand" href="{S:DIR}">
				<img src="{S:SITE_LOGO}" alt="{S:NAME}" title="{S:NAME}" class="d-inline-block align-text-top" />
			</a>
		</div>
		<div class="navbar-collapse collapse w-0 order-1 dual-collapse2 mt-2"></div>
		<div class="navbar-collapse collapse w-30 order-2 dual-collapse2" id="next-round"></div>
		<div class="navbar-collapse collapse w-35 order-3 dual-collapse2">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{L:MENU}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{MODULES}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>