<?php
/**
 * Online Module Management Platform
 * 
 * Credential files for the database
 * /!\ DO NOT SHARE THIS FILE /!\
 * 
 * @author  The OMMP Team
 * @version 1.0 
 */

$db_user = "{USER}";
$db_pass = "{PASS}";
$db_host = "{HOST}";
$db_name = "{NAME}";
$db_prefix = "{PREFIX}";
$hmac_key = "{HMAC}";
